:root {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #242424;
  color: white;
}

.champion-list {
  /* Dodaj swoje style */
}

.filter-buttons {
  /* Dodaj swoje style */
}

.search-box {
  /* Dodaj swoje style */
}


.gray-text {
  color: gray; /* Change the color to gray */
}


.champion-grid {
    display: grid;
    padding: 5em;
    grid-template-columns: repeat(5, 1fr); /* 5 kolumn na bazie */
    gap: 20px; /* Odstęp między championami */
  
    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr); /* 4 kolumny */
    }
  
    @media (max-width: 900px) {
      grid-template-columns: repeat(3, 1fr); /* 3 kolumny */
    }
  
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr); /* 2 kolumny */
    }
  

  }
  
  

  .champion-item-wrapper {
    position: relative;
    
    width: auto; /* dostosuj szerokość i wysokość do preferencji */
    height: 440px;
    background-size: cover; /* dopasowanie obrazka do rozmiaru kontenera */
    background-position: center center; /* wyśrodkowanie obrazka */
    overflow: hidden;
    transition: transform 0.3s ease;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    
  }

  .champion-item-wrapper.loaded {
    opacity: 1; /* Ustawienie pełnej przezroczystości na 1 po załadowaniu obrazka */
  }
  
  .champion-info-min {
    
    width: 100%;
    /* From https://css.glass */
background: rgba(0, 0, 0, 0.36);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px); /* tło dla informacji o championie */
    color: white;
    display: flex;
    flex-direction: column;
    
    overflow: hidden;
    text-align: center;
    position: absolute;
    
    transform: translate3d(0, 50px, 0);
    transition: transform 0.3s ease;

  }

  .champion-item-wrapper:hover .champion-info-min {
    transform: translate3d(0, 0, 0); /* Po najechaniu myszą przesuń champion-info-min w pozycję początkową */
    
  }



  

.championName {
  
  
 
  width: 100%;
  
  color: white;
  
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-bottom: 1.2em;


}

.champion-info-min {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  overflow: hidden;
}

.champion-image {
  width: 100%;
  height: auto;
  min-width: 240px; /* Minimalna szerokość obrazka */
  min-height: auto; /* Minimalna wysokość obrazka */
  /* Dodaj dodatkowe style */
}


nav {
  position: absolute;
  z-index: 300000;
  top: 0;
  width: 100%;
  font-size: 2rem;
  /* From https://css.glass */
/* background: rgba(0, 0, 0, 0.29);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.9px);
-webkit-backdrop-filter: blur(6.9px); */

}


nav ul li a{
  color: white;
  text-decoration: none;
}

nav ul {
  list-style-type: none; /* Usuń domyślne style listy */
  display: flex; /* Użyj flexbox */
  justify-content: left; /* Wyśrodkuj elementy wzdłuż osi poziomej */
  gap: 1em;

}
/* 
.component-parent-container {

  
} */

.Champion-section-Hero {
  padding-top: 20em;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 40%;
  position: relative;
  
  box-shadow: -1px -107px 58px -34px #242424 inset;
  -webkit-box-shadow: -1px -107px 58px -34px #242424 inset;
  -moz-box-shadow: -1px -107px 58px -34px #242424 inset;
}


.Champion-section-Hero h1{
  font-size: 9.5em;
  

}


.padding {
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 6em;
}



.champion-lore::first-letter {
  font-size: 250%; /* Zwiększenie wielkości pierwszej litery */
  margin-right: 0.3em; /* Dodanie odstępu po prawej stronie */
  float: left; /* Umieszczenie pierwszej litery na lewo */
  color: #D0A85C;
}

.champion-lore {
  font-size: 2em;
  margin-bottom: 15%;
}


.Champion-section-Hero h1, .Champion-section-Hero h2 {
position: absolute;
top: 85%;
right: 50%;
translate: 50%;
margin-top: 10px;
text-transform: uppercase;
letter-spacing: 0.03em;
font-weight: 800;

}

.champion-information {
  border: 2px solid #ccc; /* Grubość i kolor obramowania */
  border-radius: 10px; /* Zaokrąglone rogi */
  padding: 20px; /* Wewnętrzny margines */
  border-top: none; /* Usunięcie górnej krawędzi */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5em 2em 1em 2em; /* top right bottom left */

  margin-bottom: 15%;
  

}

.champion-information div {
  display: flex;
  justify-content: right;
}

.champion-information h3 {
  font-size: 2em;
  
}

.champion-skills p {
  font-size: 16px;
  margin: 0;
}

.skills-container{
  margin-top: 5%;
  display: flex;
  gap: 1em;
  justify-content: center;
  

}

.spell {
  cursor: pointer;
  transition: ease 0.5s;
 

}

.spell:hover {
  scale: 1.1;
}

.selected-spell-info {
  width: 50%;

  width: 500px;
 
}

.selected-spell-info h2 {
  font-size: 3em;
}
.selected-spell-info p {
  font-size: 1.2em;
}

.champion-tips{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10%;
}

.champion-tips ul {
  width: 35%;
  border-radius: 25px 0 25px 0;
  border: 2px solid #ccc;
  border-bottom: none;
  border-top: none;
  padding: 3em;
}

.champion-tips ul li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.champion-tips div {
  margin-top: 10%;
  display: flex;
  justify-content:baseline;
  flex-direction: column;
  align-items: center;
 
}

.info-video-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

video {

    width: calc(1058px * 0.70); /* Szerokość, którą chcesz ustawić */
    height: calc(720px * 0.70); /* Wysokość obliczona jako połowa szerokości */

    box-shadow: 12px 13px 24px 3px rgba(0,0,0,0.91);
    -webkit-box-shadow: 12px 13px 24px 3px rgba(0,0,0,0.91);
    -moz-box-shadow: 12px 13px 24px 3px rgba(0,0,0,0.91);
}

.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
  

}

.stats-box h4, h3 {
  font-size: 1.5em;
  padding: 0.005em;
  margin: 0;
}

.golden-span {
  color: #D0A85C;
}

.test-img {
  width: 20px;
  height: 20px;
}

.stats-spec-info ul li{
  list-style: none;
}

.stats-spec-info li {
  display: flex;
  
  align-items: center;
}

.title-h2{
  font-size: 3.5em;
}

    @media (max-width: 1100px) {
      .info-video-container{
        flex-direction: column-reverse;
        font-size: 1em;
      }
    }

    @media only screen and (max-width: 767px) {


      .additional-ability-videos {
        width: 400px;
        height: 265px;
      }
      .padding{
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
      }

      .champion-lore {
        font-size: 1.5em;
      }

      video {
        width: 100%;
        height: auto;
      }

      .champion-information {
        flex-direction: column;
        align-items: center;
        margin-top: 8em;
      }

      .Champion-section-Hero h1 {
        font-size: 6em;
        top: 90%;
      }

      .Champion-section-Hero h2 {
        width: 100%;
        font-size: 1.5em;
        text-align: center;
        top: 90%;
      }

      .Champion-section-Hero {
        padding-top: 20em;
      }

      .champion-tips {
        flex-direction: column;
        align-items: center;
      }

      .champion-tips ul {
        width: 100%;
        margin-top: 5%;
        padding: 0;
        border: none;
      }
      .selected-spell-info {
        width: 100%;
        font-size: 1em;
        height: 25em;
        
      }
      .selected-spell-info h2 {
        font-size: 2em;
      }

      .stats-box {
        margin-left: 0;
       
      }
    }

.hero-section{
  height: 90vh;
  width: 100%;
  position: relative;
  font-size: 50px;
  color: #ffffffee;
  text-shadow: 0px 0px 20px #000;
  box-shadow: -1px -37px 26px 17px rgba(0,0,0,0.86) inset;
-webkit-box-shadow: -1px -37px 26px 17px rgba(0,0,0,0.86) inset;
-moz-box-shadow: -1px -37px 26px 17px rgba(0,0,0,0.86) inset;
  
}

.video-hero {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  box-shadow: none;
  top: 0;
  object-position: center top;
  position: absolute;
  
}

.hero-section h1 {
  top: 30%;
  left: 10%;
  padding: 0;
  margin: 0;
  z-index: 100000;
  position: absolute;
  width: 45%;
  font-size: 5rem;
}

.black-gradient{
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
}



.black-gradient-top{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,8) 50%, rgba(0,0,0,0.0) 100%);
  
  width: 100%;
  height: 30vh;
  bottom: 0;
  left: 0;
}

.news-info-section{
  position: absolute;
  bottom: -8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0.5;
}

.news-info-section div {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.news-info-section h3 {
  font-size: 6rem;
  margin: 0;
}

.news-info-section h4 {
  font-size: 1.5rem;
  margin: 0;
}

.option-section {
  /* height: 100vh; */
  width: 100%;
  position: relative;
  font-size: 50px;
  /* background: url('/img/summoners-rift.jpg'); */
  background-size: cover;
}


.option-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  position: absolute;
  top: -7%;
  
  width: 100%;
  gap: 2em;
}


.option-card {
  width: 300px;
  height: 250px;
  
  overflow: hidden;
  background-size: cover;
  color: black;
  position: relative;
}

.option-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: filter 0.5s ease; /* Dodane - efekt przejścia na filtr */
}

.option-card h4 {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /* Dodane - początkowa wartość przezroczystości */
  transition: opacity 0.5s ease; 
  color: #ffffffee;
}

.option-card:hover img {
  filter: brightness(0.2); /* Dodane - przyciemnienie obrazka po najechaniu */
}

.option-card:hover h4 {
  opacity: 1; 
  color: #ffffffee;
}

.video-fade-in {
  animation: fadeIn 0.25s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.Role-container {
  height: 95vh;
}

.Role-title-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  padding: 0;
  margin: 0;
  position: absolute;
  transform: translate(50%, -80%);
  z-index: 1000000;
}

.Role-title-div h1 {
  margin: 0;
}

.Role-title-div h3 {
  z-index: 1000000;
}

.role-selection {
  background-color: black;
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  
}

.role {
  width: calc(100% / 6);
  text-align: center;
  position: relative;
  transition: width 0.5s ease;
}

.role img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: filter 0.5s ease, opacity 0.5s ease;
  opacity: 0.6;
  filter: grayscale(80%);
  cursor: pointer;
}

.role h3,
.role h4 {
  position: absolute;
  bottom: 4.5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  color: #ffffffee;
  transition: opacity 0.5s ease; /* Dodaj transition do opacity */
}

.role h4 {
  font-size: 0.4em;
  margin: 0;
  padding: 0;
  width: 100%;
  bottom: 2%;
  opacity: 0;
  color: #;
}

.role:hover {
  width: 400px;
}

.role:hover img,
.role:hover h3,
.role:hover h4 {
  filter: grayscale(0%);
  opacity: 1; /* Zmiana opacity na 1 przy :hover */
}

.selected-role {
  filter: brightness(0.2);
}

.additional-role-info {
  display: flex;
 
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  
  
}

.additional-role-info.show {
  opacity: 1;
}

.additional-role-info.enter {
  opacity: 0; /* Początkowa wartość dla animacji wejścia */
}

.additional-role-info.enter-active {
  opacity: 1; /* Końcowa wartość dla animacji wejścia */
  transition: opacity 0.3s ease-in-out; /* Długość i rodzaj animacji */
}

.additional-role-info.exit {
  opacity: 1; /* Początkowa wartość dla animacji wyjścia */
}

.additional-role-info.exit-active {
  opacity: 0; /* Końcowa wartość dla animacji wyjścia */
  transition: opacity 0.3s ease-in-out; /* Długość i rodzaj animacji */
}

.additional-role-info img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: right;
  z-index: 1000;
  
}

.wrapper-role-info {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.role-card-info {
  width: 40%;
  /* From https://css.glass */
background: rgba(0, 0, 0, 0.32);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.5px);
-webkit-backdrop-filter: blur(8.5px);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.role-card-info h1 {
  font-size: 2em;
  margin: 0;
}

.role-card-info h5 {
  font-size: 0.5em;
  margin: 0;
  letter-spacing: 3px;
}

.role-card-info h6 {
  font-size: 0.7em;
  margin: 1em 0 0 0;
  letter-spacing: 3px;
}
.role-card-info p {
  font-size: 0.6em;
  margin: 0;
  width: 600px;
  height: auto;
}

.additional-role-info button{
  position: absolute;
  right: 5%;
  transform: translateX(-50%);
  color: white;
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.5s ease;
}

.close-button-rotate:hover {
  transform: translateX(-50%) rotate(180deg);
}

.clicked {
  width: 600% !important;
  filter: blur(10px);
}

.role.clicked img {
  width: 600%;
  filter: blur(10px);
}

.mage-splash {
  object-position: 80% 60% !important;
  
}

.fighter-splash {
  object-position: 65% 50% !important;
  
}

.assasin-splash {
  object-position: 65% 60% !important;
  
}

.marksmen-splash {
  object-position: 70% 60% !important;
}

.support-splash {
  object-position: 65% 60% !important;
}

.icon-role {
  position: absolute;
  bottom: 10%;
  left: 50%;

  transform: translateX(-50%) !important;
  opacity: 0.7 ;
  filter: grayscale(0%) !important;
}

.role-icon-size {
    width: 150px !important;
  height: 150px !important;
}

.ul-role-info {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 0%;
  font-size: 0.4em;
}

.other-champ-role {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 0;
  margin: 0;
}

.other-champ-role img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.ul-role-info button {
  width: auto;
  height: auto;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 15px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  position: static;
  transform: none;
  padding: 1em;
  transition: 0.5s ease;
  font-weight: 600;
}

.ul-role-info button:hover {
  background-color: rgba(255, 255, 255, 1); /* Tutaj wartość alfa (czwarty parametr) jest ustawiona na 0.5 */
  color: rgba(0, 0, 0, 0.5); /* Tutaj również wartość alfa jest ustawiona na 0.5 */
}

.Be-part-of-team-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 100%;
  position: relative;
  font-size: 50px;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)),
    url('/img/team-art.jpeg');
  background-size: cover;
  flex-direction: column;
}

.Be-part-of-team-container h2 {
  color: white;
  font-size: 3em;
  margin: 0 0 0 0;
}



.Be-part-of-team-container p {
  color: white;
  font-size: 0.5em;
  margin: 0;
  width: 50%;
  text-align: center;
}

.short-line {
  width: 100px;
  height: 4px;
  background-color: #FF6046;
  margin: 20px auto; /* Ustaw margines, aby była środkowo */
}

.black-gradient-top{
  display: none;
}

.info-news-website{
  background-color: #222222;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  height: 60vh;
}

.info-news-website h4 {
  color: white;
  font-size: 3em;
  margin: 0;
  padding: 0;
}

.info-news-website p {
  color: white;
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  width: 70%;
}

.green-span {
  color: #0d720d;
}

.red-span {
  color: #ff0000;
}

/* mainpage media  */

@media (max-width: 1200px) {
  
}

@media (max-width: 900px) {
  .hero-section h1 {
    font-size: 3rem;
  }

   .Be-part-of-team-container h2 {
    font-size: 3rem;
  }
  p {
    font-size: 1rem !important;
    width: 70% !important;
  
  }

  .Role-container {
    height: 35vh;
}



.role-icon-size {
  width: 30px !important;
  height: auto !important;
  display: none;
}

.role h3 {
  font-size: 0.6rem;

}

footer {
  font-size: 0.5rem;
}

.champion-grid {
  padding: 5px;
}

}




.Skin-Container {
  height: auto;
}