
.items-container {

    margin: 2.5vh auto;
    padding: 5vh;
    display: flex;
    justify-content: space-around;
    
  }

  .items-container img {
    cursor: pointer;
  }
      /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr)); 
    gap: 20px;
    justify-content: start;
    align-items: start; */
  .items-wrapper {

    font-size: 0.5rem;
   
    height: 70vh;
    overflow-y: scroll;
    border-right: 1px solid #8B4513;
    
  }

  .items-wrapper::-webkit-scrollbar {
    width: 12px;
  }
  
  .items-wrapper::-webkit-scrollbar-thumb {
    background-color: #8B4513;
    border-radius: 5px;
  }
  

  
  
  .item {
    width: 50px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
  }
  

  .item-description {
    width: 40%;
    height: 60vh;
    position: relative;
  }

  .related-items-wrapper {
display: flex;
gap: 20px;

  }
  
  .related-item {
    position: relative; /* Ustawienie pozycji względnej, aby móc zastosować pseudoelement */
  }
  
  .items-tool-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
  }

  .description-img-gold-name{
    display: flex;
   
    align-items: center;
    gap: 10px;
  }

  .recipe-container {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  stats {
    color: #716b8a;
  }

  attention {
    color: #FF5733; /* kolor pomarańczowy */
  }

  passive {
    color: #8B4513; /* kolor brązowy */
  }

  magicDamage {
    color: #4169E1; /* kolor niebieski */
  }

  OnHit {
    color: #FFFDD0; /* kolor kremowy */
  }

  attackSpeed {
    color: #FFD700; /* kolor złoty */
  }

.recepie-position {
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 50%);
}

.item-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.flex-wrapper {
  flex-wrap: wrap;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1); /* Przezroczysty biały kolor tła */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s; /* Dodanie animacji zanikania */
  z-index: 99999;
}

.loading-overlay.fade-out {
  opacity: 0; /* Ustawienie przezroczystości na 0, aby wygasnąć */
  pointer-events: none; /* Wyłączenie zdarzeń dla wygaszonej warstwy */
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(255, 255, 255, 0.1);
  border-left-color: #333;
  border-radius: 50%;
  animation: spinner 0.6s linear infinite; /* Animacja obrotu spinnera */
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  60% {
    opacity: 1;
    
  }

  100% {
    opacity: 0;
    display: none;
  }
}

.loading-overlay.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

.clear-search {
  fill: #000; /* Zmień kolor ikony X na czarny */
  padding-left: 10px;
  cursor: pointer;
}
